<h1>Welcome to AstroMonthly, <%= @user.name %>!</h1>

<p>What would you like to do today?</p>

<%= link_to "Go to horoscopes", horoscopes_path %><br>
<%= link_to "Go to journals", journals_path %><br><br>

<p>When reading horoscopes you want to read for your Ascendant (also known as your "Rising Sign").<br>
 To find your rising sign enter your birth time and place below:</p><br>

 <div id="widget_container"><a id="bc_astro" href="https://astro-charts.com"></a></div><script type="text/javascript" src="https://astro-charts.com/client/common/widget/js/widget-birthchart.min.js"></script><br>