<div align="center">
    <h1>Edit Horoscope</h1>
    <%= render 'form' %> 

    <br><%= button_to "Delete Horoscope", horoscope_path(@horoscope), method: :delete,
    data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></p>
</div>    