<h2> <% @date = Date.today  %> <%= @date.strftime("%B")%> Horoscopes </h2>

<% if current_user.admin %>
    <%= link_to "New Horoscope", new_horoscope_path %>
    <ul>
    <% @horoscopes.each do |horoscope| %>
        <li><%= link_to "Show #{horoscope.sign}", horoscope_path(horoscope) %></li>
    <% end %>
    </ul>    
<% else %>
    <ul><% @horoscopes.each do |horoscope| %>
        <li><%= link_to "Show #{horoscope.sign}", horoscope_path(horoscope) %></li>
        <% end %>
    </ul>     
<% end %>