<h2>Horoscopes</h2>

<ul><% @horoscopes.each do |horoscope| %>
        <li><b><%= horoscope.ascendant %></b><br>
        <%= horoscope.content %></li><br><br>
    <% end %>
</ul>     
    

#add images for each ascendant