<h1 align="center">Your Most Recent Journals</h1>

<% @journals.each do |journal| %>
    <li align="center"><a href="<%= journal_path(journal) %>"><%= "#{journal.horoscope.sign} #{journal.title}" %></a></li>
<% end %>    